body{
  padding: 10px;
}

h1{
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom : 10px;
}
#dados-pessoais{
  margin: 10px;
  display: flex;
  flex-direction: row;
}
#dados-pessoais img{
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
#dados{
  margin-left: 30px;
  list-style: square;
}
table{
  margin: 10px;
}
th{
  background-color: aliceblue;
}
table, th, tr,td{
  padding: 5px;
  text-align: center;
  border: 1px solid #333;
}